@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Joan', serif;
}

body {
    background-color: #FC766AFF;
    padding-top: 70px;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 3px #ccc;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.chatlogs {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    height: 450px;
    background-color: #eee;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
    width: 10px;

}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, .1);
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 25px;
}

.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
}

.chat .user-photo img {
    width: 100%;
    border-radius: 50%;
}

.chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.self .chat-message {
    background-color: #FC766AFF;
}

.lover .chat-message {
    background-color: #5B84B1FF;
    order: -1;
}

.chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea {
    background-color: #fbfbfb;
    width: 75%;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 1.2rem;
    color: #333;
}

.chat-form textarea:focus{
    background-color: #ffffff;
    outline: none;
    border: thin solid #eee;
}

.chat-form textarea::-webkit-scrollbar {
    width: 10px;

}

.chat-form textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, .1);
}

.chat-form button {
    padding: 5px 15px;
    font-size: 2rem;
    border: 0;
    outline: 0;
    background-color: #FC766AFF;
    color: #ffffff;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 rgb(204, 95, 85);
    cursor: pointer;

    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}

.chat-form button:hover {
    background-color: #5B84B1FF;
    box-shadow: 0 3px 0 rgb(71, 103, 138);
}

@media screen and (max-width:520px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.2rem;
    }

    .chat .user-photo {
        width: 50px;
        height: 50px;
        background: #ccc;
        border-radius: 50%;
    }
    
    .chat .chat-message {
        width: 80%;
        padding: 15px;
        margin: 5px 10px 0;
        font-size: 1rem;
        line-height: 1.6;
    }
}

@media screen and (max-width:409px) {
    .container {
        padding: 15px;
    }

    .chat .user-photo {
        width: 40px;
        height: 40px;
        background: #ccc;
        border-radius: 50%;
    }
    
    .chat .chat-message {
        width: 65%;
        padding: 15px;
        margin: 5px 10px 0;
        color: #ffffff;
        border-radius: 10px;
        font-size: 1rem;
        line-height: 1.6;
    }
}